button{
    background-color: $dark-blue;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 0px 22px;
    height: 100%;
    border: none;
}

// ---------- CARDS
.card{
    max-width: 290px;
    width: 100%;
    display: flex;
    height: 156px;
    position: relative;
    background-color: white;
    margin-right: 38px;
    border-radius: 15px;
    border: 1px solid $border-gray;

    .value{
        position: relative;
        /* font-size: 40px; */
        font-size: clamp(28px, 4vw, 40px);
        color: $dark-blue;
        top: 35px;
        left: 18px;
        font-weight: bold;
        
    }
    .title{
        position: absolute;
        /* font-size: 18px; */
        font-size: clamp(12px, 2.5vw, 18px);
    
        font-weight: bold;
        color: $medium-gray;
        left: 18px;
        bottom: 28px;
    }    
}
// ---------- CARDS QUERIES
@media (max-width: 768px) {
    .card{
        height: 120px;
        margin-right: 15px;
    }
}
@media (max-width: 480px) {
        /* Breakpoints */
        /* --mobile-sm: 480px;
        --mobile-md: 767px;
        --tablet-sm: 768px;
        --tablet-lg: 1024px;
        --laptop-sm: 1280px;
        --laptop-lg: 1440px;
        --desktop-sm: 1920px; */
        .card{
            flex-direction: column;
            min-height: 80px;
            max-height: 100px;
            justify-content: space-between;
            
            .value{
                position: relative;
                top: 5px;
                font-size: 22px;
                left: 10px;
                
            }
            .title{
                position: relative;
                font-size: clamp(12px, 2.5vw, 14px);
    
                left: 10px;
                bottom: 10px;
            }
        }
}