// 🎨 Colores
$dark-blue: #171138;
$light-blue: #7DB7D9;
$sky-blue: #99ECF5;
$placeholder-text: #8A8C8E;
$border-gray: #8A8C8E;
$medium-gray: #5B5B5B;

// 📱 Breakpoints
$mobile-sm: 480px;
$mobile-md: 767px;
$tablet-sm: 768px;
$tablet-lg: 1024px;
$laptop-sm: 1280px;
$laptop-lg: 1440px;
$desktop-sm: 1920px;


// 🏓 Table
$table-col-color: #007BFF;
$table-status-pending: #1D648C;
$table-status-progress: orange;
$table-status-delivered: green; 
$table-button: #28a745; 
$table-button-hover: #218838; 