* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #171138;
    --light-blue: #7DB7D9; 
    --sky-blue: #99ECF5; 
    --placeholder-text: #8A8C8E; 

    /* Breakpoints */
    --mobile-sm: 480px;
    --mobile-md: 767px;
    --tablet-sm: 768px;
    --tablet-lg: 1024px;
    --laptop-sm: 1280px;
    --laptop-lg: 1440px;
    --desktop-sm: 1920px;

  }
html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}
h3{
    font-size: 24px;
    color: var(--dark-blue);

}
input::placeholder{
    color: var(--placeholder-text);
}

button{
    background-color: var(--dark-blue);
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 15px 22px;
    border: none;
}

nav{
    position: fixed;
    z-index: 1000;
    top: 0;

    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 100px;
}
.navbar--right{
    display: flex;
    max-width: 850px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo{
    max-width: 271.98px;
    width: 100%;
}
nav a{
    text-decoration: none;
    color: white;
}

nav p {
  color: white;
  font-size: 20px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 530px;
  width: 100%;
  list-style: none;
  display: flex;
}
nav ul li {
  display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
}
/* Estilos para la barra de búsqueda */
.search-container {
    position: relative;
    padding-right: 20px;
    max-width: 280px;
    width: 100%;
    display: flex;
    /* background-color: fuchsia; */
}
.search-container input{
    font-size: 14px;
}

.search-input {
    padding: 8px;
    padding-left: 56px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    outline: none;

    /* background-color: yellowgreen; */
}
.search-button {
    position: absolute;
    left: 20px;
    top: 20%;
    background: none;
    border: none;
    cursor: pointer;

    padding: 0;
    border: none;
}
.search-button img {
    height: 24px;
    width: 24px;
}
/* ----------------------- */
/* BANNER */
.main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
    /* padding-top: 50px; */
    align-items: center;
    height: 600px;
    background: url('data:image/svg+xml;utf8,<svg width="1440" height="718" viewBox="0 0 1440 718" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1440" height="718" fill="url(%23paint0_linear_13_1310)"/><defs><linearGradient id="paint0_linear_13_1310" x1="0" y1="0" x2="1735.55" y2="246.119" gradientUnits="userSpaceOnUse"><stop stop-color="%237DB7D9"/><stop offset="1" stop-color="%2399ECF5" stop-opacity="0.23"/></linearGradient></defs></svg>') no-repeat center/cover;
    background-size: cover; /* Hace que el fondo cubra toda la sección */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
    padding: 0 80px;
}   
.main .wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    /* height: 720px; */
    width: 100%;
    height: 100%;
    /* height: 73vh; */
    position: relative;
    padding-top: 60px;
    /* background-color: red; */
}
.main h1{
    max-width: 980px;
    font-weight:800;
    font-size: 71.8px;
    line-height: 100%;
    
    font-size: clamp(40px, 4vw, 71.8px);
}
.main p{
    max-width: 650px;
    font-weight:normal;
    line-height: 140%;

    /* font-size: 24px; */
    font-size: clamp(18px, 2vw, 24px);

}

.banner--img{
    z-index: 9;
    max-width: 708.42px;
    position:absolute;
    width: 60vw;
    bottom: -74.24px;
    transform: rotate(-7deg);
    right: -80px;

    /* background-color: yellow; */
}
@media (max-width: 1280px) {
    /* Breakpoints */
    /* --mobile-sm: 480px;
    --mobile-md: 767px;
    --tablet-sm: 768px;
    --tablet-lg: 1024px;
    --laptop-sm: 1280px;
    --laptop-lg: 1440px;
    --desktop-sm: 1920px; */
    .main{
        padding: 0 20px;
    }
    .main h1{
        margin-bottom: 10px;
    }
    .banner--img{
        right: -20px;
}
}
@media (max-width: 1024px) {
        /* Breakpoints */
        /* --mobile-sm: 480px;
        --mobile-md: 767px;
        --tablet-sm: 768px;
        --tablet-lg: 1024px;
        --laptop-sm: 1280px;
        --laptop-lg: 1440px;
        --desktop-sm: 1920px; */
    .banner--img{
        max-width: 650px;
        /* width: 60vw; */
        right: 0px;
        bottom: -50px;

    }
    .main{
        height: 550px;
        margin-top: 70px;
    }
    .main .wrapper{
        padding-top: 25px;
        /* background-color: fuchsia; */
    }
    .navbar--right{
        display: none;
    }

    nav{
        height: 70px;
        padding: 20px 0;
    }
    .navbar-logo{
        width: 70%;
    }

}
@media (max-width: 768px) {
    .banner--img{
        bottom: 0px;
    }
}
@media (max-width: 480px) {
        /* Breakpoints */
        /* --mobile-sm: 480px;
        --mobile-md: 767px;
        --tablet-sm: 768px;
        --tablet-lg: 1024px;
        --laptop-sm: 1280px;
        --laptop-lg: 1440px;
        --desktop-sm: 1920px; */
    .banner--img{
        position: static;
        margin: 0 auto;
        margin-top: 10px;
    }
    .main{
        padding: 0 20px;
        height: auto;
    }
    .main .wrapper{
        padding-top: 10px;
    }
}

.banner__form-container{
    margin-top: 45px;
    position: relative;
    z-index: 10;
    max-width: 513px;
    width: 100%;
    /* background-color: fuchsia; */
}
.track-package{
    position: relative;
}
.banner__form-container input{
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: 18px;
    color: #5B5B5B;
    padding-left: 16px;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner__form-container button{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.banner__form-container h3{
    font-size: 24px;
    
}
/* ----------------------- */
.register{
    padding: 0 80px;

}

@media (max-width: 1280px) {
    /* Breakpoints */
    /* --mobile-sm: 480px;
    --mobile-md: 767px;
    --tablet-sm: 768px;
    --tablet-lg: 1024px;
    --laptop-sm: 1280px;
    --laptop-lg: 1440px;
    --desktop-sm: 1920px; */
    .register{
        padding: 0 20px;
    }
}

.register .wrapper{

        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding-top: 45px;

        /* background-color: red; */
}




.register__form{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}
.register__form h4{
    color: #5B5B5B;
    font-size: 14px;
}
.form-container{
    display: flex;
    max-width: 860px;
    justify-content: center;

    /* background-color: rgb(255, 238, 0); */
}
.form--left{
    display: flex;
    flex-direction: column;
    width: 100%;

    /* background-color: fuchsia; */
}
.form--right{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    /* background-color: yellowgreen; */
    margin-left: 10px;
}
.form--element{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: cyan; */
}
.form--element input {
    max-width: 412px;
    width: 100%;
    height: 36px;
    
    appearance: none;
    
    border-radius: 5px;
    
    padding-left: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 5px;

}
.form--element select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    /* max-width: 412px; */
    width: 100%;
    height: 36px;
    padding-left: 20px;

    border-style: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;

    color: var(--placeholder-text);
}
.form--element .date-selector{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    color: black;
}
input[type="date"]::-webkit-datetime-edit {
    color: var(--placeholder-text);
    }
  

.form--right .state-date-flex{
    display: flex;

    justify-content:space-evenly;

    /* background-color: blue; */
}
.state-date-flex .form--element{
    max-width: 225px;
}
.state-date-flex .date-selector{
    max-width: calc(412px - 220px);    /* width: 100%; */
}
.state-date-flex{
    gap: 10px;
}
/* ----------------------- */
