:root {
    --dark-blue: #171138;
    --light-blue: #7DB7D9; 
  }
body {
    font-family: 'Open Sans', sans-serif;
}
/* ----------------------- */
/* BANNER */
.banner--img{
    width: 300px;
}
.main h1{
    max-width: 980px;
    font-weight:800;
    font-size: 71.8px;
}



/* ----------------------- */
nav{
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 20px; */
    height: 90px;
}
nav a{
    text-decoration: none;
    color: white;
}

  nav p {
    color: white;
    font-size: 20px;
    margin: 0;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }

  /* Estilos para la barra de búsqueda */
  .search-container {
    position: relative;
    padding-right: 20px;
    max-width: 265px;
    width: 100%;
    /* background-color: fuchsia; */
    display: flex;
  }

  .search-input {
    padding: 8px;
    padding-left: 56px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    /* background-color: yellowgreen; */
  }

  .search-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    background: none;
    border: none;
    cursor: pointer;
  }

  .search-button img {
    width: 16px;
  }